@using mes.Models.ViewModels
@using System.Collections.Generic

@model List<ProductionRequest>

@{
    bool authorize = true;
    string finitibg = ViewBag.finitibg;
    string semilavbg = ViewBag.semilabg;
    string pannellibg = ViewBag.pannellibg;
}
<style>
    table, th, td, input {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;            
    }
    input:hover {
        background-color: gold;
    }
    input:focus {
        background-color: lightyellow;
    }
</style>

<h3>gestione richieste di produzione</h3>
<br>
<br>
<hr>
<div class="row">
    <div class="col-md-9">
        <h4></h4> 
    </div>    
    <div class="col-md-3">
        <a class="btn btn-outline-primary" asp-controller="Production" asp-action="InsertProductionRequest">nuova richiesta di produzione</a>
    </div>                                 
</div>
<br>
<br>
<hr>
@using(Html.BeginForm("AggiornaPannello", "Programs", FormMethod.Post, new { name = "frmAggDati", id = "frmAggDati" }))
{
<table id="myTable" style="width:100%;">
	<tr>
        <th></th>
		<th>cliente</th>
		<th>articolo</th>
        <th>descrizione</th>
		<th>consegna</th>            
		<th>richiesti</th>
        <th>finiti</th>
        <th>semilavorati</th>
        <th>lastre</th>
	</tr>	
@for (int x=0;x<Model.Count; x++)
{
    <tr>
    @if(authorize)
    {
        <td><input type="hidden" style="width:10px;" class="form-control" value="@Model[x].id" readonly/></td> 
        <td><input type="text" style="width:160px;" class="form-control" value="@Model[x].Cliente" readonly/></td>            
        <td><input type="text" style="width:240px;" class="form-control" value="@Model[x].Articolo" readonly/></td>
        <td><input type="text" style="width:400px;" class="form-control" value="@Model[x].Descrizione" readonly/></td>
        <td><input type="text" style="width:120px;" class="form-control" value="@Model[x].DataCons" readonly/></td>                     
        <td><input type="text" style="width:90px;" class="form-control" value="@Model[x].Richiesti" readonly/></td>
        <td><input type="text" style="width:90px; background-color: @Model[x].Finitibg;" class="form-control" value="@Model[x].Disponibili" readonly/></td>
        <td><input type="text" style="width:90px; background-color: @Model[x].Semilavbg;" class="form-control" value="@Model[x].DispSemilav" readonly/></td>
        <td><input type="text" style="width:90px; background-color: @Model[x].Pannellibg;" class="form-control" value="@Model[x].DispPannello" readonly/></td>
        <td style="padding-left: 10px;"><a asp-controller="Production" asp-action="ScheduleProdRequest" asp-route-id="@Model[x].id"><i class="material-icons text-success">&#xe742;</i></a></td>
        <td style="padding-left: 10px;"><a asp-controller="Production" asp-action="ModProductionRequest" asp-route-id="@Model[x].id"><i class="material-icons text-warning">&#xE254;</i></a></td>
        
    }
    else
    {
        <td><input type="hidden" style="width:10px;" class="form-control" value="@Model[x].id" readonly/></td>
        <td><input type="text" style="width:160px;" class="form-control" value="@Model[x].Cliente" readonly/></td>            
        <td><input type="text" style="width:240px;" class="form-control" value="@Model[x].Articolo" readonly/></td>
        <td><input type="text" style="width:400px;" class="form-control" value="@Model[x].Descrizione" readonly/></td>
        <td><input type="text" style="width:120px;" class="form-control" value="@Model[x].DataCons" readonly/></td>                       
        <td><input type="text" style="width:90px;"  class="form-control" value="@Model[x].Richiesti" readonly/></td>
        <td><input type="text" style="width:90px; background-color:@Model[x].Finitibg;"  class="form-control" value="@Model[x].Disponibili" readonly/></td>
        <td><input type="text" style="width:90px; background-color:@Model[x].Semilavbg;"  class="form-control" value="@Model[x].DispSemilav" readonly/></td>
        <td><input type="text" style="width:90px; background-color:@Model[x].Pannellibg;"  class="form-control" value="@Model[x].DispPannello" readonly/></td>
    }
    </tr> 
}	 
</table>
}
<br>
<br>
@if(authorize)
{
    <div class="row">
        <div class="col-md-3 d-grid">
            <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#confirmationModal">aggiorna</button>          
        </div>            
    </div>  
}
