@using mes.Models.ViewModels
@using System.Collections.Generic
@model ProductionRequest

<h3>modifica richiesta di produzione</h3>
<br>

@using(Html.BeginForm("InsertRequest", "Production", FormMethod.Post, new { name = "frmInsertReq", id = "frmInsertReq" }))
{
<table id="myTable" style="width:100%;">
	<tr>
		<th>cliente</th>
		<th>modello</th>        
		<th>consegna</th> 
		<th>diametro</th>
		<th>spessore</th>            
		<th>richiesti</th> 
		<th>disponibili</th> 
		<th>semilavorati</th>
		<th>lastre</th>
	</tr>	
    <tr>
        <td><input type="text" class="form-control" value="@Model.Cliente" readonly/></td>            
        <td><input type="text" class="form-control" value="@Model.Modello" readonly/></td>
        <td><input type="text" class="form-control" value="@Model.DataCons" readonly/></td>            
        <td><input type="text" class="form-control" value="@Model.Diametro" readonly/></td>
        <td><input type="text" class="form-control" value="@Model.Spessore" readonly/></td>            
        <td><input type="text" class="form-control" value="@Model.Richiesti" readonly/></td>
        <td><input type="text" class="form-control" value="@Model.Disponibili" readonly/></td>
        <td><input type="text" class="form-control" value="@Model.CodSemilavorati" readonly/></td>
        <td><input type="text" class="form-control" value="@Model.Lastre" readonly/></td>
        <td style="padding-left: 10px;"><a asp-controller="Production" asp-action="ModRequest" asp-route-id="@Model.id"><i class="material-icons text-warning">&#xE254;</i></a></td>
    </tr>          
</table>
}