@using mes.Models.ViewModels
@using System.Collections.Generic

@model ProductionRequest

@{
    ProductionRequest request = ViewBag.request;
}

<style>     
    select {
        border-radius: 0.25em;
        border-color: rgb(196, 196, 196);
        width: 120px;
        height: 38px;
    }

    table, th {
        font-size: 14px;        
    }
    th {
        font-family: Arial, Helvetica, sans-serif;
    }
    input, td {
        font-size: 14px;
        border-radius: 0.25em;
        border-color: rgb(196, 196, 196);
        width: 120px;
        height: 38px;        
    }
    input:hover {
        background-color: gold;
    }
    input:focus {
        background-color: lightyellow;
    }  

</style>

<h3>programma attività di produzione</h3>
<br>
<br>
<hr>
<table id="myTable" style="width:100%;">
	<tr>
        <th></th>
		<th>cliente</th>
		<th>articolo</th>
        <th>descrizione</th>
		<th>consegna</th>            
		<th>richiesti</th>
        <th>finiti</th>
        <th>semilavorati</th>
        <th>lastre</th>
	</tr>
    <tr>
        <td><input type="hidden" style="width:10px;" class="form-control" value="@request.id" readonly/></td> 
        <td><input type="text" style="width:160px;" class="form-control" value="@request.Cliente" readonly/></td>            
        <td><input type="text" style="width:240px;" class="form-control" value="@request.Articolo" readonly/></td>
        <td><input type="text" style="width:400px;" class="form-control" value="@request.Descrizione" readonly/></td>
        <td><input type="text" style="width:120px;" class="form-control" value="@request.DataCons" readonly/></td>                     
        <td><input type="text" style="width:90px;" class="form-control" value="@request.Richiesti" readonly/></td>
        <td><input type="text" style="width:90px; background-color: @request.Finitibg;" class="form-control" value="@request.Disponibili" readonly/></td>
        <td><input type="text" style="width:90px; background-color: @request.Semilavbg;" class="form-control" value="@request.DispSemilav" readonly/></td>
        <td><input type="text" style="width:90px; background-color: @request.Pannellibg;" class="form-control" value="@request.DispPannello" readonly/></td>
	</tr>
</table>
<hr>
<div class="row">
    <div class="col-md-2">
        <h5>programma per</h5>
    </div>
    <div class="col-md-2">
        <input type="datetime-local">
    </div>
    <div class="col-md-2">
        <input type="datetime-local">
    </div>
    <div class="col-md-2">
        <select id="sel-assignment">
            <option value="RvBPlast">RvBPlast</option>
            <option value="RvB1536">RvB1536</option>
        </select>
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary">conferma</a>
    </div>            
</div>