@using mes.Models.ViewModels
@using System.Collections.Generic
@model List<PannelloViewModel>
@{
    string userRoles = ViewBag.userRoles;
    bool authorize = false;
    if(userRoles.Contains("PannelliScrivi")||userRoles.Contains("root")) authorize=true;
    List<MaterialiPannelli> allMateriali = ViewBag.NomiMateriali;
    string displayedMaterial = ViewBag.displayedMaterial;
    //string debug = ViewBag.tipoMateriale;
}

<script>

function conferma()
{
    if(!$("#quantita").val()) {
        alert("campo 'quantita' vuoto");
        $("#confirmationModal").modal('toggle');
        return;
        }

    var inputs = $("[id=quantita]");
    var validChars = /^[0-9.]+$/;
    var isIvalid = true;

    inputs.each(function() {
        var inputVal = $(this).val();
        if(!validChars.test(inputVal)) {
            $(this).css({
                'border-color': 'red',
                'border-width': '3px'
                });
                isIvalid = false;
            } else {
            $(this).css({
                'border-color': '',
                'border-width': ''
                });                
            }
        });

    if(!isIvalid) {
        alert("correggere i campi evidenziati");
        $("#confirmationModal").modal('toggle');
        return;   
    }

    $("#frmAggDati").submit();
        
}

</script>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aggiornamento dati</h5>
      </div>
      <div class="modal-body">
        <p>confermi aggiornamento ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">annulla</button>
        <button type="button" class="btn btn-outline-success" onclick="conferma()">aggiorna</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<style>
    table, th {
        font-size: 14px;        
    }
    th {
        font-family: Arial, Helvetica, sans-serif;
    }
    input, td {
        font-size: 14px;
    }
    input:hover {
        background-color: gold;
    }
    input:focus {
        background-color: lightyellow;
    }
</style>

<input type="hidden" id="displayedMaterial" value="@ViewBag.displayedMaterial" />

<div class="row align-items-start">
    <div class="col-md-1" align="center">
        <i class="fa-solid fa-layer-group fa-3x"></i>
    </div>
    <div class="col-md-4">
        <h3>gestione magazzino pannelli</h3>
    </div>
</div>
<br>
<br>
<hr>
<div class="row justify-content-center align-items-center g-2">
    <div class="col-md-3">
        <h4>magazzino pannelli</h4>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown">
                @ViewBag.displayedMaterial
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="Programs" asp-action="MagPannelli" asp-route-nomeMateriale="">tutti</a></li>
                @foreach (var item in allMateriali)
                {
                    <li><a class="dropdown-item" asp-controller="Programs" asp-action="MagPannelli" asp-route-tipoMateriale="@item.Nome">@item.Nome</a></li>
                }                    
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <input class="form-control" id="myInput" type="text" placeholder="ricerca..">
    </div>        
    <div class="col-md-1">
        <a class="btn btn-outline-primary" asp-controller="Programs" asp-action="MagBordi" id="myLink">cerca</a>
    </div>      
    <div class="col-md-2">
        <a class="btn btn-outline-secondary btn-block" asp-controller="Programs" asp-action="ExportCsvPannelli" asp-route-tipoMateriale=@ViewBag.tipoMateriale>esporta .csv</a>
    </div>
    <hr>
@using(Html.BeginForm("AggiornaPannello", "Programs", FormMethod.Post, new { name = "frmAggDati", id = "frmAggDati" }))
{
    <table>
        <tr>
            <th style="text-align: center;">codice</th>
            <th style="text-align: center;">codice esterno</th>
            <th style="text-align: center;">data ingresso</th> 
            <th style="text-align: center;">nome pannello</th>            
            <th style="text-align: center;">nome materiale</th>
            <th style="text-align: center;">colore</th>
            <th style="text-align: center;">lunghezza</th>
            <th style="text-align: center;">larghezza</th>
            <th style="text-align: center;">spessore</th>
            <th style="text-align: center;">quantità</th>
            <th style="text-align: center;">quantità min</th>
            <th style="text-align: center;">cliente</th>
            <th style="text-align: center;">locazione/note</th>          
            <th> </th>
            <th> </th>
        </tr>
            @for(int x=0; x<Model.Count; x++)
            {
                int quan = Convert.ToInt16(Model[x].Quantita);
                int qMin = Convert.ToInt16(Model[x].QuantitaMin);
                string color = (quan > qMin)? "none" : "orange";
                PannelloViewModel printModel = Model[x];
                <tr>
                    @if(!authorize)
                    {
                        <td><input readonly style="width: 90px; background-color: @color;" type="text" asp-for=@Model[x].Codice class="form-control" value=@Model[x].Codice  readonly/></td>
                        <td><input readonly style="width: 150px; background-color: @color;" type="text" asp-for=@Model[x].CodiceEsterno class="form-control" value=@Model[x].CodiceEsterno  readonly/></td>
                        <td><input readonly style="width: 100px; background-color: @color;" type="text" asp-for=@Model[x].DataIngresso class="form-control" value=@Model[x].DataIngresso  readonly/></td>
                        <td><input readonly style="width: 130px; background-color: @color;" type="text" asp-for=@Model[x].Nome class="form-control" value=@Model[x].Nome  readonly/></td>
                        <td><input readonly style="width: 100px; background-color: @color;" type="text" asp-for=@Model[x].Tipomateriale class="form-control" value=@Model[x].Tipomateriale  readonly/></td>
                        <td><input readonly style="width: 90px; background-color: @color;" type="text" asp-for=@Model[x].Colore class="form-control" value=@Model[x].Colore  readonly/></td>
                        <td><input readonly style="width: 70px; background-color: @color;" type="text" asp-for=@Model[x].Lunghezza class="form-control" value=@Model[x].Lunghezza  readonly/></td>
                        <td><input readonly style="width: 70px; background-color: @color;" type="text" asp-for=@Model[x].Larghezza class="form-control" value=@Model[x].Larghezza  readonly/></td>
                        <td><input readonly style="width: 60px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].Spessore class="form-control" value=@Model[x].Spessore  readonly/></td>
                        <td><input readonly style="width: 60px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].Quantita class="form-control" value=@Model[x].Quantita  readonly/></td>
                        <td><input readonly style="width: 60px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].QuantitaMin class="form-control" value=@Model[x].QuantitaMin  readonly/></td>
                        <td><input readonly style="width: 150px; background-color: @color;" type="text" asp-for=@Model[x].Cliente class="form-control" value=@Model[x].Cliente  readonly/></td>
                        <td><input readonly style="width: 200px; background-color: @color;" type="text" asp-for=@Model[x].Locazione class="form-control" value=@Model[x].Locazione  readonly/></td>
                        <!-- td style="padding-left: 10px;"><a asp-controller="Programs" asp-action="StampaEtichetta" asp-route-id="@Model[x].id"><i class="fa fa-barcode"></i></a></td --> 
                        <td> </td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id readonly /></td>
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }
                    else
                    {
                        <td><input style="width: 90px; background-color: @color;" type="text" asp-for=@Model[x].Codice class="form-control" value=@Model[x].Codice readonly /></td>
                        <td><input style="width: 150px; background-color: @color;" type="text" asp-for=@Model[x].CodiceEsterno class="form-control" value=@Model[x].CodiceEsterno readonly /></td>
                        <td><input style="width: 100px; background-color: @color;" type="text" asp-for=@Model[x].DataIngresso class="form-control" value=@Model[x].DataIngresso readonly /></td>
                        <td><input style="width: 130px; background-color: @color;" type="text" asp-for=@Model[x].Nome class="form-control" value=@Model[x].Nome readonly /></td>                                                                        
                        <td><input style="width: 100px; background-color: @color;" type="text" asp-for=@Model[x].Tipomateriale class="form-control" value=@Model[x].Tipomateriale readonly /></td>
                        <td><input style="width: 90px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].Colore class="form-control" value=@Model[x].Colore readonly /></td>
                        <td><input style="width: 70px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].Lunghezza class="form-control" value=@Model[x].Lunghezza readonly /></td>
                        <td><input style="width: 70px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].Larghezza class="form-control" value=@Model[x].Larghezza readonly /></td>
                        <td><input style="width: 60px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].Spessore class="form-control" value=@Model[x].Spessore readonly /></td>                        
                        <td><input id="quantita" style="width: 60px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].Quantita class="form-control" value=@Model[x].Quantita  /></td>
                        <td><input style="width: 60px; text-align:center; background-color: @color;" type="text" asp-for=@Model[x].QuantitaMin class="form-control" value=@Model[x].QuantitaMin readonly /></td>
                        <td><input style="width: 150px; background-color: @color;" type="text" asp-for=@Model[x].Cliente class="form-control" value=@Model[x].Cliente readonly /></td>
                        <td><input style="width: 200px; background-color: @color;" type="text" asp-for=@Model[x].Locazione class="form-control" value=@Model[x].Locazione readonly /></td>
                        <td style="padding-left: 10px;"><a asp-controller="Programs" asp-action="ModPannello" asp-route-id="@Model[x].id"><i class="material-icons text-warning">&#xE254;</i></a></td>
                        <td style="padding-left: 10px;"><a asp-controller="Programs" asp-action="StampaEtichetta" asp-route-id="@Model[x].id"><i class="fa fa-barcode fa-2x"></i></a></td>

                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].id class="form-control" value=@Model[x].id /></td>                         
                        <td style="width: 10px;"><input type="hidden" asp-for=@Model[x].Enabled class="form-control" value=@Model[x].Enabled readonly/></td>
                    }                   
                </tr>
            }    
    </table>
    <br>
    <br>
    @if(authorize)
    {
        <div class="row">
            <div class="col-md-3 d-grid">
                <button type="button" class="btn btn-outline-primary btn-block" data-bs-toggle="modal" data-bs-target="#confirmationModal">aggiorna</button>          
            </div>
            <div class="col-md-3 d-grid">
                <a class="btn btn-outline-success btn-block" asp-controller="Programs" asp-action="InsertPannello" asp-route-nomeMateriale=@displayedMaterial>crea nuovo pannello</a>
            </div>
            <div class="col-md-3 d-grid">
                <a class="btn btn-outline-secondary btn-block" asp-controller="Programs" asp-action="MainMatPannelli" asp-route-nomeMateriale=@displayedMaterial>gestione materiali</a>
            </div>               
        </div>  
    }
}


<script>
    document.getElementById('myInput').addEventListener('keyup', function() {
        var materiale = document.getElementById('displayedMaterial').value;
        var inputValue = this.value;
        var link = document.getElementById('myLink');
        link.href = '/Programs/MagPannelli?filter=' + inputValue + '&tipoMateriale=' + materiale;
    });
</script>