@using mes.Models.ViewModels
@using mes.Models.InfrastructureModels
@using System.Collections.Generic

@model List<PfcModel>
@{
    string userRoles = ViewBag.userRoles;
    bool authorize = false;
    if (userRoles.Contains("PfcAggiorna") || userRoles.Contains("PfcCrea") || userRoles.Contains("root")) authorize = true;

    bool productionFilter = false;
    if (userRoles.Contains("PfcAggiorna")) productionFilter = true;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" -->

<style>
    /* Remove the problematic overrides and use proper DataTables styling */
    table.dataTable thead th {
        position: relative;
        padding-right: 30px !important;
    }

    /* Style for sortable columns (shows both arrows) */
    table.dataTable thead th.sorting:before,
    table.dataTable thead th.sorting:after {
        position: absolute;
        right: 0.5em;
        line-height: 1;
        opacity: 0.5;
        font-size: 9px;
    }

    table.dataTable thead th.sorting:before {
        content: "▲";
        bottom: 50%;
        margin-bottom: 1px;
    }

    table.dataTable thead th.sorting:after {
        content: "▼";
        top: 50%;
        margin-top: 1px;
    }

    /* Style for ascending sort (show only up arrow) */
    table.dataTable thead th.sorting_asc:before {
        content: "▲";
        opacity: 1;
        bottom: 50%;
        font-size: 10px;
        margin-bottom: 1px;
        position: absolute;
        right: 0.5em;
    }

    table.dataTable thead th.sorting_asc:after {
        display: none;
    }

    /* Style for descending sort (show only down arrow) */
    table.dataTable thead th.sorting_desc:before {
        display: none;
    }

    table.dataTable thead th.sorting_desc:after {
        content: "▼";
        opacity: 1;
        top: 50%;
        font-size: 10px;
        margin-top: 1px;
        position: absolute;
        right: 0.5em;
    }

    /* Keep your other styles */
    input {
        text-align: center;
        border: none !important;
        background: transparent !important;
    }

    input[type="search"] {
        border: 1px solid #d1d5db !important;
    }

    th {
        text-align: center;
    }

</style>

<script>
    function conferma() {
        $("#frmAggCommesse").submit();
    }
</script>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aggiornamento dati</h5>
            </div>
            <div class="modal-body">
                <p>confermi aggiornamento ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">annulla</button>
                <button type="button" class="btn btn-outline-success" onclick="conferma()">aggiorna</button>
            </div>
        </div>
    </div>
</div>

<h2>gestione moduli pfc</h2>
<br>
<br>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-7">
        @* DataTables will automatically add the search box here. *@
    </div>
    <div class="col-md-2">
        <a class="btn btn-outline-primary" asp-controller="Pfc" asp-action="Index" asp-route-filterCompleted="@ViewBag.filter">@ViewBag.removeCaption</a>
    </div>
</div>
<br>
<hr>

@using (Html.BeginForm("AggiornaCommesse", "PfcController", FormMethod.Post, new { name = "frmAggCommesse", id = "frmAggCommesse" }))
{
    <table id="pfcTable" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead class="bg-gray-50">
            <tr>
                <th>modulo numero</th>
                <th>cliente</th>
                <th>rif. esterno</th>
                <th>data consegna</th>
                <th>avanzamento</th>
                <th>completato</th>
                @if (authorize && !productionFilter)
                {
                    <th>abilitato</th>
                }
                @if (authorize)
                {
                    <th>Modifica</th>
                }
            </tr>
        </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @for (int x = 0; x < Model.Count; x++)
                {
                    <tr>
                        <td data-search="@Model[x].NumeroCommessa" data-order="@Model[x].NumeroCommessa">
                            <input type="text" asp-for=@Model[x].NumeroCommessa class="form-control" value="@Model[x].NumeroCommessa" readonly />
                        </td>
                        <td data-search="@Model[x].Cliente" data-order="@Model[x].Cliente">
                            <input type="text" asp-for=@Model[x].Cliente class="form-control" value="@Model[x].Cliente" readonly />
                        </td>
                        <td data-search="@Model[x].RifEsterno" data-order="@Model[x].RifEsterno">
                            <input type="text" asp-for=@Model[x].RifEsterno class="form-control" value="@Model[x].RifEsterno" readonly />
                        </td>
                        <td data-search="@Model[x].DataConsegna" data-order="@Model[x].DataConsegna">
                            <input type="text" asp-for=@Model[x].DataConsegna class="form-control" value="@Model[x].DataConsegna" readonly />
                        </td>
                        <td data-search="@Model[x].Progress" data-order="@Model[x].Progress">
                            <input readonly type="text" asp-for=@Model[x].Progress class="form-control" value="@Model[x].Progress" />
                        </td>
                        <td data-search="@Model[x].Completed" data-order="@Model[x].Completed">
                            <input readonly type="text" asp-for=@Model[x].Completed class="form-control" value="@Model[x].Completed" />
                        </td>
                        @if (authorize && !productionFilter)
                        {
                            <td data-search="@Model[x].Enabled" data-order="@Model[x].Enabled">
                                <input type="text" asp-for=@Model[x].Enabled class="form-control" value="@Model[x].Enabled" readonly />
                            </td>
                        }
                        @if (authorize)
                        {
                            <td style="padding-left: 25px;">
                                <a asp-controller="Pfc" asp-action="ModPfc" asp-route-inputId="@Model[x].id">
                                    <i class="material-icons text-warning">&#xE254;</i>
                                </a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
    </table>
    
    <!-- Hidden fields for form submission -->
    <div style="display:none;">
        @for (int x = 0; x < Model.Count; x++)
        {
            <input type="hidden" asp-for=@Model[x].id />
            <input type="hidden" asp-for=@Model[x].Enabled />
        }
    </div>
    
    <br>
    <br>
    @if (authorize)
    {
        <div class="row">
            <div class="col-md-3 d-grid">
                <a class="btn btn-outline-success btn-block" asp-controller="Pfc" asp-action="InsertPfc">inserisci modulo</a>
            </div>
        </div>
    }
}

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        var columnDefs = [];
        
        @if (authorize && !productionFilter)
        {
            <text>
            columnDefs.push(
                { targets: [6], orderable: false, searchable: false } // Abilitato column
            );
            </text>
        }
        @if (authorize)
        {
            <text>
            columnDefs.push(
                { targets: [@(authorize && !productionFilter ? 7 : 6)], orderable: false, searchable: false } // Edit column
            );
            </text>
        }

        $('#pfcTable').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/it-IT.json'
            },
            columnDefs: columnDefs,
            order: [[0, 'asc']] // Set initial sort order
        });
    });
</script>