@{
    string machineName = ViewBag.machineName;
    string startWeek = ViewBag.startWeek;
    string endWeek = ViewBag.endWeek;
    string errorMsg = ViewBag.errorMsg;
    string series = ViewBag.Series;
    string categories = ViewBag.Categories;
}

<h2>Dettagli giornalieri macchina per @machineName</h2>
<br>
<hr>
<table>
  <tr>
    <td style="width:200px">
      <a class="btn btn-outline-primary" asp-controller="Stats" asp-action="Index" >torna a lista macchine</a>
    </td>
    <td style="width:100px">

    </td>
    <td>
      <h5>giorno</h5>
    </td>
    <td>
      <input type="date" style="width:120px;" id="daySelection" name="selPeriod" value="@ViewBag.defaultDate" max=@ViewBag.MaxDate>
    </td>
    <td>
      <a class="btn btn-outline-primary" id="exportcsv">esporta .csv</a>
    </td>      
  </tr>
</table>
<hr>
<br>
<br>

<link href="../wwwroot/css/styles_apex.css" />

<script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>

<style>
    select, input {
        border-radius: 0.25em;
        border-color: rgb(196, 196, 196);
        width: 120px;
        height: 38px;
    }

    input {
        font-size: 14px;
    }
    input:hover {
        background-color: gold;
    }
    input:focus {
        background-color: lightyellow;
    }  

    #chart {
    max-width: 950px;
    margin: 35px auto;
    }

    table {
    margin: auto;
    width: 50%;
    text-align: center; 
    }        
</style>

<script>
    window.Promise ||
    document.write(
        '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
    )
    window.Promise ||
    document.write(
        '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
    )
    window.Promise ||
    document.write(
        '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
    )
</script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>    

@if(errorMsg!="" & errorMsg != null) 
{
  <div class = "row">
    <div class = "col-md-2">
      
    </div>
    <div class = "col-md-2">
      <i class="fa-solid fa-computer fa-6x"></i>
    </div>
    <div class = "col-md-5">
      <h3>@errorMsg</h3>
    </div>    
  </div>
}
else
{
  <div id="chart"></div>
}

    <script>

    var array = @Html.Raw(categories);
    console.log(array);

    var resultString = JSON.stringify(array);

    console.log(resultString);

        var options = {
          series: @Html.Raw(series),
          chart: {
          type: 'bar',
          height: 500,
          stacked: true,
        },
        plotOptions: {
          bar: {
            horizontal: false,
            dataLabels: {
              total: {
                enabled: true,
                offsetX: 0,
                style: {
                  fontSize: '13px',
                  fontWeight: 900
                }
              }
            }
          },
        },
        stroke: {
          width: 2,
          colors: ['#fff']
        },
        title: {
          text: '@ViewBag.title'
        },
        xaxis: {
          categories: array,
          labels: {
            formatter: function (val) {
              return val
            }
          }
        },
        yaxis: {
          title: {
            text: undefined
          },
        },
        tooltip: {
          y: {
            formatter: function (val) {
              return val
            }
          }
        },
        fill: {
          opacity: 1
        },
        legend: {
          position: 'top',
          horizontalAlign: 'left',
          offsetX: 40
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
            
    </script>

<script>

var machineName = '@machineName';
  $("#daySelection").on('change', function() {
    var perStart = $("#daySelection").val();
    var perEnd = $("#daySelection").val();
    var redirectUrl = '/Stats/MachineDetail?machineName=' + machineName + '&startTime=' + perStart + '&endTime=' + perEnd;
    //alert(redirectUrl);
    window.location.href = redirectUrl;
  });

  $("#exportcsv").on('click', function() {
    var perStart = $("#daySelection").val();
    var perEnd = $("#daySelection").val();
    var redirectUrl = '/Stats/ExportStats2Csv?machineName=' + machineName + '&startTime=' + perStart + '&endTime=' + perEnd;
    //alert(redirectUrl);
    window.location.href = redirectUrl;
  });

  $("#periodEnd").on('change', function(){
    var selectedDate = $(this).val();
    $("#periodStart").attr('max', selectedDate);
    $("#periodStart").val(selectedDate);
  });

  function getMonday(d, e) {
      d = new Date(d);
      var day = d.getDay(),
          diff = d.getDate() - day + (day == 0 ? -6 : 1) + e; // adjust when day is sunday
      return new Date(d.setDate(diff));
  }

  function getFormattedDate(d){
      // Parse the date string
      var parsedDate = new Date(d);

      // Extract day, month, and year components
      var day = parsedDate.getDate();
      var month = parsedDate.getMonth() + 1; // Month is zero-based, so we add 1
      var year = parsedDate.getFullYear();

      // Format day and month to have leading zeros if necessary
      day = day < 10 ? '0' + day : day;
      month = month < 10 ? '0' + month : month;

      // Create the formatted date string
      var formattedDate = day + '/' + month + '/' + year;

      return formattedDate;
  }

</script>